/* You can add global styles to this file, and also import other style files */
.box {
  width: 15rem;
  display: inline-block;
  text-align: left;
  margin: 10px 0;
}
.w-box {
  text-align: center;
}
